* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  box-sizing: border-box;
}

/*navbar*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  background-color: lightblue;
  position: fixed;
  width: 100vw;
}

ul li {
  list-style-type: none;
  display: inline;
  margin: 35px;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
  ul li {
    font-weight: normal;
    margin: 15px;
  }
}

/*end of navbar*/



/*welcome-section*/
#welcome-section {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#me {
  font-size: 3em;
}

/*end of welcome-section*/


/*projects*/
#projects {
  height: 100vh;
  background-color: lightcyan;
  padding-top: 5%;
}

#project-header {
  font-size: 2.2em;
  width: 35%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 10px;
}

.columns {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}


.project-tile {
  border: 1px solid blue;
  display: block;
  margin: 15px 0;
}

.project-pic {
  width: 200px;
  height: auto;
}

.project-name {
  border-top: 1px solid blue;
  display: flex;
  justify-content: center;
}

#left-column {
  display: inline;
}

#right-column {
  display: inline;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  #projects {
    height: 200vh;
  }
  
  #project-header {
    font-size: 1em;
    width: 70%;
    margin-bottom: 10px;
  }

  .columns {
    flex-direction: column;
  }

  .project-pic {
    width: 100%;
    height: auto;
  }
}

/*end of projects*/


/*contact*/

#contact {
  height: 100vh;
  background-color: lemonchiffon;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

#contact-header {
  font-size: 2.2em;
  align-self: center;
}

#contact-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20%;
}

.contact {
  border: 1px solid lightgreen;
  width: 105px;
  height: 105px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  background-color: aquamarine;
  font-size: 1.05em;
}

@media (min-width: 320px) and (max-width: 480px) {

  #contact {
    padding-top: 10%;
  }

  #contact-header {
    font-size: 1em;
  }

  .contact {
    border: 1px solid lightgreen;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: aquamarine;
    font-size: .70em;
    margin-top: 25%;
  }
  
}

/*contact*/

/*footer*/
footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  footer {
    font-size: .30em;
    padding: 5px 0;
  }
}
/**/